* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

header {
  background-color: rgb(245, 245, 245);
  color: #194866;
  padding: 30px 10px 10px 10px;
  margin-bottom: 10px;
}

.header-heading {
  margin-left: 2%;
  margin-right: 30%;
  font-size: 36px;
  font-weight: bold;
}

.header-small-heading {
  font-size: 16px;
}

.header-button {
  font-size: 16px;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 35px;
  background-color: black;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: #194866;
  text-decoration: none;
}
.nav-button {
  color: white;
}

.contact {
  width: 80%;
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 20px;
}

.contact form {
  display: grid;
  grid-gap: 10px;
}

.contact label {
  font-weight: bold;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.contact textarea {
  resize: vertical;
}

.contact button {
  padding: 10px 20px;
  background-color: #194866;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.contact button:hover {
  background-color: #0d334a;
}
footer {
  height: 100px;
  width: 100%;
  padding: 10px 0;
  color: white;
  background-color: #194866;
  display: flex;
  justify-content: center;
  align-items: center;
}
